In [1]:
from pyspark.sql import SparkSession
import getpass 
username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir", "/user/itv014325/warehouse"). \
    config('spark.shuffle.useOldFetchProtocol', 'true'). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
spark.sql("""select member_id, count(*) as total 
from itv014325_lending_club.customers
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|3f87585a20f702838...|    4|
|76b577467eda5bdbc...|    4|
|ad8e5d384dae17e06...|    4|
|5d52e7773cb0efff3...|    3|
|c92062bb371842b3d...|    3|
|f9fc581aae696e0bd...|    3|
|3ae415acd6bbfaac1...|    3|
|4ab6205de571ccb7b...|    3|
|035bf3d8288d803bd...|    3|
|bf3d06b33c49a9375...|    3|
|291ca1b09ef11ca3e...|    3|
|a2356725aa9da92c6...|    3|
|498bb6b1f0099cb47...|    3|
|c563428cb58da48ff...|    3|
|d3731bad3e6a82515...|    3|
|d9ce4046daf599732...|    3|
|d93573e2883e37904...|    3|
|f54295a60946dedad...|    3|
|e7d8d16928817ec8f...|    3|
+--------------------+-----+
only showing top 20 rows

In [3]:
spark.sql("""select * from itv014325_lending_club.customers 
where member_id like 'e4c167053d5418230%'""")

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|2023-09-15 17:18:...|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [8]:
spark.sql("""select member_id, count(*) as total 
from itv014325_lending_club.loan_defaulters_delinq
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|1f392553105eebc55...|    3|
|bca141343d9405a9a...|    3|
|9240fa4e744ff0846...|    3|
|ee2d0dd6ad9e048b8...|    3|
|793b618a7de10f813...|    3|
|6f88761291d14b65e...|    3|
|41d36a5e709d6218a...|    3|
|b67f4aa39e82954f2...|    3|
|e4c167053d5418230...|    3|
|e1f91eb87353347fd...|    2|
|666006371cc990ae7...|    2|
|b5ded5638e54e1692...|    2|
|2a9775bb297d8d183...|    2|
|b0b069b23773292a8...|    2|
|f6776ae4f355c1aa8...|    2|
|3b94fbab00b7a0ec4...|    2|
|759c2dc5f485e5465...|    2|
|d34249ef84980fb46...|    2|
|0fa3654dfc604c1d4...|    2|
|48846377688c803fa...|    2|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("""select * from itv014325_lending_club.loan_defaulters_delinq
where member_id like 'e4c167053d5418230%'""")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                    13|
|e4c167053d5418230...|          1|        0.0|                    16|
|e4c167053d5418230...|          1|        0.0|                    37|
+--------------------+-----------+-----------+----------------------+

In [9]:
spark.sql("""select member_id, count(*) as total 
from itv014325_lending_club.loans_defaulters_detail_rec_enq
group by member_id order by total desc
""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|c80b3e1938d2f7fad...|    3|
|092e68fe2b907d655...|    3|
|a3be755503ee43a84...|    3|
|c0c09bafdbf0655d8...|    3|
|d93573e2883e37904...|    3|
|ee2d0dd6ad9e048b8...|    3|
|5d47bf75f686431f9...|    3|
|1f392553105eebc55...|    3|
|170b46bb6a9d00bb1...|    3|
|e4c167053d5418230...|    3|
|819453be77718d747...|    3|
|c563428cb58da48ff...|    3|
|ab24ad29f19da3d84...|    3|
|5a51c9bedd4e3c663...|    3|
|667ee603e3de74630...|    3|
|09afb4e74f1234220...|    3|
|e884f4108b3c6b1f4...|    2|
|73a5bbf6f0ba325d8...|    2|
|8ecd94e42c7db6c80...|    2|
|981a0200552d3e4c1...|    2|
+--------------------+-----+
only showing top 20 rows

In [10]:
spark.sql("""select * from itv014325_lending_club.loans_defaulters_detail_rec_enq
where member_id like 'e4c167053d5418230%'""")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e4c167053d5418230...|   null|                null|          null|
|e4c167053d5418230...|   null|                null|          null|
|e4c167053d5418230...|   null|                null|          null|
+--------------------+-------+--------------------+--------------+

In [11]:
bad_data_customer_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv014325_lending_club.customers
group by member_id having total > 1)""")

In [12]:
bad_data_customer_df.count()

3157

In [13]:
bad_data_customer_df

+--------------------+
|           member_id|
+--------------------+
|01b2223757c3b62e7...|
|5130d0087970e032e...|
|fc0e468bff11ac7c3...|
|7115ace193e13d8f3...|
|f99c6e9cfe3a7a2d2...|
|eebbd89aa7efc13e7...|
|761b2f1e61999e14e...|
|61be6498c93cadf89...|
|2bae2e4dd6d5f2b21...|
|f284044b881f218c0...|
|4231a55d0199c619a...|
|cbede54df344cdb94...|
|3b8ffe19f24749a73...|
|675151e58a628e87b...|
|a2af7506825a7dcff...|
|a53e2f488d2d76a30...|
|cd1fdca829c443fa7...|
|d4782ddad8591f44d...|
|e61af5f79c2480a8b...|
|759c2dc5f485e5465...|
+--------------------+
only showing top 20 rows

In [14]:
bad_data_loans_defaulters_delinq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv014325_lending_club.loan_defaulters_delinq
group by member_id having total > 1)""")

In [15]:
bad_data_loans_defaulters_delinq_df.count()

939

In [16]:
bad_data_loans_defaulters_delinq_df

+--------------------+
|           member_id|
+--------------------+
|675151e58a628e87b...|
|a53e2f488d2d76a30...|
|7115ace193e13d8f3...|
|d4782ddad8591f44d...|
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|f99c6e9cfe3a7a2d2...|
|759c2dc5f485e5465...|
|22593a1870543b2db...|
|0fa3654dfc604c1d4...|
|8d2c605c7ad9209cc...|
|3b94fbab00b7a0ec4...|
|d34249ef84980fb46...|
|48846377688c803fa...|
|e884f4108b3c6b1f4...|
|4273588c35c7b7f40...|
|bbe43331566910d55...|
|827a048c072fb44b0...|
|e1f91eb87353347fd...|
|666006371cc990ae7...|
+--------------------+
only showing top 20 rows

In [17]:
bad_data_loans_defaulters_detail_rec_enq_df = spark.sql("""select member_id from(select member_id, count(*)
as total from itv014325_lending_club.loans_defaulters_detail_rec_enq
group by member_id having total > 1)""")

In [18]:
bad_data_loans_defaulters_detail_rec_enq_df.count()

848

In [19]:
bad_data_loans_defaulters_detail_rec_enq_df

+--------------------+
|           member_id|
+--------------------+
|a53e2f488d2d76a30...|
|01b2223757c3b62e7...|
|761b2f1e61999e14e...|
|4231a55d0199c619a...|
|e6404d176e3850fdb...|
|53789bea7edc660ed...|
|e884f4108b3c6b1f4...|
|76b577467eda5bdbc...|
|844149bec10005cd7...|
|827a048c072fb44b0...|
|5c94d4601c2198730...|
|066ddaa64bee66dff...|
|03f71ce106a7d33b3...|
|df51e1f6c20da2046...|
|73a5bbf6f0ba325d8...|
|981a0200552d3e4c1...|
|8ecd94e42c7db6c80...|
|75c960c19f620458b...|
|04c9546415360a0cd...|
|6918b9861ba5a4c67...|
+--------------------+
only showing top 20 rows

In [20]:
bad_data_customer_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/bad/bad_data_customers") \
.save()

In [21]:
bad_data_loans_defaulters_delinq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/bad/bad_data_loans_defaulters_delinq") \
.save()

In [22]:
bad_data_loans_defaulters_detail_rec_enq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/bad/bad_data_loans_defaulters_detail_rec_enq") \
.save()

In [23]:
bad_customer_data_df = bad_data_customer_df.select("member_id") \
.union(bad_data_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_data_loans_defaulters_detail_rec_enq_df.select("member_id"))

In [24]:
bad_customer_data_final_df = bad_customer_data_df.distinct()

In [25]:
bad_customer_data_final_df.count()

3179

In [26]:
bad_customer_data_final_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/bad/bad_customer_data_final") \
.save()

In [27]:
bad_customer_data_final_df.createOrReplaceTempView("bad_data_customer")

In [28]:
customers_df = spark.sql("""select * from itv006277_lending_club.customers
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [29]:
customers_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/raw/cleaned_new/customers_parquet") \
.save()

In [30]:
loans_defaulters_delinq_df = spark.sql("""select * from itv014325_lending_club.loans_defaulters_delinq
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [31]:
loans_defaulters_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet") \
.save()

In [32]:
loans_defaulters_detail_rec_enq_df = spark.sql("""select * from itv014325_lending_club.loans_defaulters_detail_rec_enq
where member_id NOT IN (select member_id from bad_data_customer)
""")

In [33]:
loans_defaulters_detail_rec_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv014325/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet") \
.save()

In [34]:
spark.sql("""
create EXTERNAL TABLE itv014325_lending_club.customers_new(member_id string, emp_title string, emp_length int, home_ownership string, 
annual_income float, address_state string, address_zipcode string, address_country string, grade string, 
sub_grade string, verification_status string, total_high_credit_limit float, application_type string, 
join_annual_income float, verification_status_joint string, ingest_date timestamp)
stored as parquet
LOCATION '/user/itv014325/lendingclubproject/raw/cleaned_new/customers_parquet'
""")

++
||
++
++

In [35]:
spark.sql("""
create EXTERNAL TABLE itv014325_lending_club.loans_defaulters_delinq_new(member_id string,delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer)
stored as parquet
LOCATION '/user/itv014325/lendingclubproject/raw/cleaned_new/loans_defaulters_delinq_parquet'
""")

++
||
++
++

In [ ]:
spark.sql("""
create EXTERNAL TABLE itv014325_lending_club.loans_defaulters_detail_rec_enq_new(member_id string, pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer)
stored as parquet
LOCATION '/user/itv014325/lendingclubproject/raw/cleaned_new/loans_defaulters_detail_rec_enq_parquet'
""")

In [ ]:
spark.sql("""select member_id, count(*) as total 
from itv006277_lending_club.customers_new
group by member_id order by total desc""")